container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
    leader_only: true
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
    leader_only: true
  03_seed_db:
    command: "sudo RDS_HOSTNAME=${RDS_HOSTNAME} RDS_PORT=${RDS_PORT} RDS_DB_NAME=${RDS_DB_NAME} RDS_USERNAME=${RDS_USERNAME} RDS_PASSWORD=${RDS_PASSWORD} npm run db:seed:run"
    leader_only: true